* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
.section1{
    background:-webkit-linear-gradient(-25deg,#ffff 50%,#ffbf1c 60%);
    
}
    
.logo{
    position:relative;
    max-width: 200px;
    float:left;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 10%;
}
nav img{
    margin-left: 10px;

}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items:center;
    list-style: none; 
    margin-left: 250px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 70px;
}
nav ul li a:hover{
    opacity: .6;
}
.landing{
    display: grid;
    align-items: center;
    grid-template-columns: 400px 0fr;
    margin-left: 100px;
}
.middle{
    font-size: 50px;

}
p.main-content{
    font-size: 15px;
    margin-top: 40px;
    width: 120%;
font-weight: bold;
}
.order{
    font-size: 10px;
    padding:15px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius:20px;
    margin: 45px;
    background-color: rgb( 255, 191, 28)
    
}

.burger{
    margin-left: 30%;
    margin-top: 10px;

     
}

span{
    display:flex;
    justify-content: space-evenly;
   
}
p{
    border-width:thing;
    padding: 100px;
    margin: 10px;
    border-style:solid line;
}
div.section2{
   
    background-color: #d4ecf5;
}
   


div.style{
    border-style:solid;
     border-width: thin;
     padding: 20%;
}
